*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}
body{

    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
    /*background-color: #212121;*/
}

/*调整header*/
header
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    z-index: 100;
    background-color:#fff;
}

/*调整logo*/
.logo {
    font-size: 2em;
    color: #359381;
    pointer-events: none;
    margin-right: 270px;
}

.navigation a {
    text-decoration: none;
    color: #359381;
    padding: 6px 15px;
    border-radius: 20px;
    margin: 0 10px;
    font-weight: 600;
    font-size: 1.3em;
}

.navigation a:hover,
.navigation a.active {
    background: #359381;
    color: #fff;
}